PyYAML
torch>=1.9.0
numpy>=1.17
scipy>=1.2.1
prefetch_generator>=1.0.1
msgpack>=0.5.6
sortedcontainers
uvloop>=0.14.0
grpcio-tools>=1.33.2
protobuf>=3.12.2,<4.0.0
configargparse>=1.2.3
multiaddr>=0.0.9
pymultihash>=0.8.2
cryptography>=3.4.6
pydantic>=1.8.1
