name: Check style

on:
  push:
    branches: [ master ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v1
        with:
          only_warn: 1
          ignore_words_list: ibrary,nd,Buss

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          args: "--output-format github"
          version-file: "requirements-dev.txt"
      - uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff"
          version-file: "requirements-dev.txt"
