name: Benchmarks

on:
  push:
    branches: [ master ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run_benchmarks:

    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          cache-dependency-glob: |
            requirements.txt
            requirements-dev.txt
      - name: Install dependencies
        run: |
          uv pip install --system -r requirements.txt
          uv pip install --system -r requirements-dev.txt
      - name: Build bitsandbytes
        run: |
          uv pip install --system bitsandbytes==0.45.2
      - name: Build hivemind
        run: |
          uv pip install --system .
      - name: Benchmark
        run: |
          cd benchmarks
          python benchmark_throughput.py --preset minimalistic
          python benchmark_tensor_compression.py
          python benchmark_dht.py
